.graphdraw-Line {
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
}
